<form #productForm="ngForm" (ngSubmit)="addProduct(productForm)" fxLayout="column">
    <mat-form-field>
        <input matInput type="text" name="name" placeholder="Name" ngModel required>
    </mat-form-field>
    <div fxLayout="row">
        <mat-form-field>
            <input matInput type="text" name="price" placeholder="Price" ngModel required>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Currency" name="currency" ngModel required>
                <mat-option value="eur">Euro</mat-option>
                <mat-option value="usd">Dollar</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <input class="file-input" type="file" placeholder="Image" (change)="imageSelected($event)">
    <label>Description</label>
    <textarea name="description" cols="30" rows="10" ngModel required></textarea>
    <button mat-raised-button class="general-button" type="submit">Upload Product</button>
</form>