<div fxLayout="column" fxFlex="90">
    <h1>Profile</h1>
    <mat-divider></mat-divider>
    <form fxLayout="column">
        <mat-form-field>
            <input matInput placeholder="Profession">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Phone">
        </mat-form-field>
        <label>Description</label>
        <textarea name="test" id="" cols="30" rows="10"></textarea>
        <button mat-raised-button>Action</button>
    </form>
</div>