<div fxLayout="column" fxFlexFill>
    <app-header fxFlex="20" fxLayoutAlign="center center"></app-header>
    <div fxLayout="row" fxFlex fxFlexFill>
        <div fxFlex="66" fxLayout="column" fxLayoutAlign="center center">
            <div class="landing-title">Sell your content now!</div>
            <div class="landing-sub-title"> By sharing your link</div>
            <div class="landing-text">FavMe allows indie content producers to sell directly to their fans in a quick and secure way. Our cut is only 10%!</div>
            <button [routerLink]="'/register'" mat-raised-button class="action-button">Join Now</button>
            <button [routerLink]="'/login'" mat-raised-button class="action-button-light">Or login</button>
        </div>
        <div fxFlex fxLayoutAlign="end end">
            <img class="background" src="../../../assets/images/Landingpage_Frau.jpeg" alt="Landing Image" width="400">
        </div>
        

    </div>
</div>