<div fxLayout="column" fxLayoutAlign="none stretch" fxFlexFill>
    <header fxFlex="10" fxLayoutAlign="center center">FavMe</header>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="60">
        <div>Register</div>
        <form class="form" fxLayout="column">
            <mat-form-field>
                <input matInput  placeholder="Public Username" name="username" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput  placeholder="Email" name="username" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput  placeholder="Password" type="password" name="password" required>
            </mat-form-field>
            <div fxLayout="row" >
                <button fxFlex mat-raised-button>Login</button>
                <a fxFlex mat-button routerLink="/register">Register</a>
            </div>
        </form>
    </div>
</div>