<div fxLayout="column" fxFlexFill>
    <app-header fxFlex="20" fxLayoutAlign="center center" fxFlexFill></app-header>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="60">
        <div class="header-grey">Register</div>
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" class="form" fxLayout="column">
            <mat-form-field class="mat-form-field-login">
                <input matInput  placeholder="Public Username" name="username" required ngModel>
            </mat-form-field>
            <mat-form-field class="mat-form-field-login">
                <input matInput  placeholder="Email" name="email" required ngModel>
            </mat-form-field>
            <mat-form-field class="mat-form-field-login">
                <input matInput  placeholder="Password" type="password" name="password" required ngModel>
            </mat-form-field>
            <div fxLayout="row" >
                <button fxFlex mat-raised-button class="action-button" type="submit">Register</button>
                <a fxFlex mat-button routerLink="/login" class="action-button-light">Login</a>
            </div>
        </form>
    </div>
</div>