<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <ul>
      <li [routerLink]="'/user/products'">Sell Products</li>
      <li [routerLink]="'/user/documents'">Upload Documents</li>
      <li [routerLink]="'/user/profile'">Profile</li>
      <li [routerLink]="'/user/payout'">Payout</li>
    </ul>
    <!--
    <mat-list>
      <mat-list-item [routerLink]="'/user/products'">Sell Products</mat-list-item>
      <mat-list-item [routerLink]="'/user/documents'">Upload Documents</mat-list-item>
      <mat-list-item [routerLink]="'/user/profile'">Profile</mat-list-item>
      <mat-list-item [routerLink]="'/user/payout'">Payout</mat-list-item>
    </mat-list>
    -->
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
