<div fxLayout="row" fxFlexFill>
  <div class="navigation" fxFlex="25">
    <div fxLayout="column">
      <div fxFlexAlign="center" class="header-white">
        FAV<span class="small">ME</span>
      </div>
      <a [routerLink]="'/user/products'">Sell Products</a>
      <a [routerLink]="'/user/documents'">Upload Documents</a>
      <a [routerLink]="'/user/profile'">Profile</a>
      <a [routerLink]="'/user/payout'">Payout</a>
      <div class="balance">Balance: {{balance?.balance}} €</div>
      <a href="{{userUrl}}">Link</a>
      <button fxFlexAlign="center" class="action-button"mat-raised-button (click)="logout()">Logout</button>
    </div>
  </div>
  <div fxFlex="80">
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>