<mat-card class="productCard">
    <mat-card-header>
        <mat-card-title>Product Title</mat-card-title>
    </mat-card-header>
    <img matCardImage src="../../../../../assets/images/Landingpage_Frau.jpeg">
    <mat-card-content>
        Ich bin eine Beispiel Produktbeschreibung, und verkaufe hier meine Produkte. Der Text kann ruhig etwas laenger sein.
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-button >Action1</button>
    </mat-card-actions>
</mat-card>